/* GENERAL LAYOUT STYLING */

body {
    background-color: rgb(231,245,255);
}

/* Make a one page that doesn't make scroll */
.one-page {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

/* The element this class is applied to will be centered
vertically. */
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#gameBoard *.vertical-center {
    margin-top: 0;
	margin-bottom: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* In order to center an element horizontally, apply the classes
".d-flex" and "justify-content-center" to the parent container */

.horizontal-center {
	margin: auto;
	width: auto;
}

/* Aligns a text element within a container in the vertical center */
.valign-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/* Aligns a text element within a container in the horizontal center */
.halign-text {
    text-align: center;
}

/* Removes the padding from an element */
.no-padding {
    padding: 0!important;
}

/* Makes the selected element visible */
.show_popup {
    visibility: visible!important;
}

/* Styling for the horizontal rectangle tag */
hr {
    border: 0.01vw solid #888;
    margin: 0.1vw 0;
}

/* -------------------------------------------------------------------------------------- */

/* GENERAL DESIGN STYLING */

/* The general styling to create a "panel" when applied to an element. */
.panel {
    background-color: #f1f0f0;
    margin-top: 1vw;
	margin-bottom: 1vw;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.35);
}

/* Adds a soft border to a container/element */
.softBorder {
    border: 0.1vw solid #ebeaea;
    border-radius: 1vw;
}

/* Adds a hard border to a container/element */
.hardBorder {
    border: 0.2vw solid #ebeaea;
    border-radius: 1vw;
}

/* Giving all button elements a margin */
.buttons {
    background-color: #999999;
	border: 0;
	color: white;
    border-radius: 0.5vw;
    margin: 10px;
}

/* Hover effect to the buttons */
#popupBox *.buttons:hover {
	background-color: #c7c7c7;
}

/* Responsive font sizing */
.responsive-font {
	font-size: 2vh;
}

/* -------------------------------------------------------------------------------------- */

/* GAME INFO BANNER SPECIFIC STYLING */

#timerText {
    margin: 1vw;
}

#contentDiv {
    position: relative;
    height: 90vh;
    max-height: 90vh;
}

/* -------------------------------------------------------------------------------------- */

/* GAME BOARD SPECIFIC STYLING */

/* Class that sizes each cell of the game board depending on the number
of cells to be created. This style will need to be adjusted as the board
size changes. */
.boardCell {
    width: 10%;
    height: 10%;
}

/* Styling of the div that represents each cell of the game board */
.cellDiv {
    width: 100%;
    height: 100%;
    border-radius: 0.0vw;
}

/* The styling of each cell when not clicked/revealed */
.unidentified {
    background-color: #c5c5c5;
    border: 0.2vw outset #b1b1b1;
    box-shadow: 0.2vw 0.2vw 0.2vw rgba(0,0,0,.35);
}

/* The styling of each unrevealed cell upon mouse over */
.unidentified:hover {
    background-color: #9c9c9c;
	cursor: pointer;
}

.unidentified *:not(.flag) {
    display: none;
}

/* The styling of each cell when clicked/revealed */
.identified {
    background-color: #c5c5c5;
    border: 0.2vw inset #b1b1b1;
    box-shadow: -0.2vw -0.2vw 0.2vw rgba(0,0,0,.35);
}

.identified * {
    display: block;
}

/* Styling for the div container that holds the table */
/* Is styled to be 90% of its parent div (which is 50vh width and height) */
#boardDiv {
    width: 45vh;
    height: 45vh;
}

/* Styling of the table element to be as big as its parent container */
#boardTable {
	height: 100%;
	width: 100%;
}

/* Styling of the panel that the game will sit on */
/* 'vh' used for both width and height to keep the board as a square */
#gameBoard {
	width: 50vh;
	height: 50vh
}

/* Styles each paragraph element within a game board cell
to fill the space of the div without expanding it. */
.cellNum {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.5vh;

    position: relative;
    top: 75%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/* Styles the images to fit within its parent div */
.cell-img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------------------- */

/* GAME RESULTS POP-UP SPECIFIC STYLING */

/* Centers elements in the center of the page and removes it from document flow */
.pop-up {
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the opaque background while pop-up is active */
#popupBgDiv {
	background-color: #ffffff70;
	width: 100%;
	height: 100%;
}

/* Styling for the pop-up box itself */
#popupBox {
	background-color: #ffffff;
	width: 50vw;
	height: 50vh;
	border-radius: 2vw;
}

/* Styling for the pop-up box's header */
#popupHeader {
	margin: 5%;
	text-align: center;
}

/* Styling for all sections within the pop-up box */
.popupSection {
	margin: 5%;
	text-align: left;
}

/* Header styling of each section */
.popupSection h3 {
	font-size: 3vh;
}

/* Positions the close button in the bottom right corner of the pop-up */
#btnDiv {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Styling for the buttons on the pop-up */
.popupBtn {
	background-color: #d6d6d6;
	border: 0.1vw solid #c4c4c4;
	border-radius: 0.5vw;
}

/* Hover styling for the buttons on the pop-up */
.popupBtn:hover {
	background-color: #b1b1b1;
	border: 0.1vw solid #a3a3a3;
}

/* -------------------------------------------------------------------------------------- */

/* BUTTON PANEL SPECIFIC STYLING */

/* Styling of the 'START' button before a game has begun */
.no-game {
	background-color: #009900;
	color: #ffffff;
	border: 0.1vw solid #007200;
}

/* Hover styling of the 'START' button before a game has begun */
.no-game:hover {
	background-color: #00bb00;
}

/* Styling of the 'START' button once a game has begun */
.game {
	background-color: #999999;
}

/* -------------------------------------------------------------------------------------- */

/* HOW-TO-PLAY POP-UP SPECIFIC STYLING */

/* Styling for the outermost how-to-play pop-up container */
.popup-howtoplay {
    width: 100%;
    max-height: 90vh;
    height: 90%;
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 999;
    visibility: hidden;
}

/* Styling for the how-to-play section */
.box-howtoplay {
    max-width: 75%;
    max-height: 80%;
    margin: 0 12.5%;
    padding: 2vw 3vw;
    background-color: #fff;
    text-align: left;
}

/* Styling for the close button to sit at the top right of the pop-up */
#close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

/* Styling for any <h5> tag that is a child of element of class .box_howtoplay */
.box-howtoplay>h5 {
    margin: 0.8vw 0;
    font-size: 2vw;
	font-weight: bold;
}

/* Styling for any <p> tag that is a child of element of class .box_howtoplay */
.box-howtoplay>p {
    text-align: justify;
	font-size: 1vw;
}

/* -------------------------------------------------------------------------------------- */

/* NAVIGATION BAR SPECIFIC STYLING */

/* General styling for the <nav> tag */
nav {
    width: 100%;
    height: 8vh;
    background-color: #fff;
    box-shadow: 0.4vw 0.4vw 0.4vw rgba(0,0,0,0.2);
    position: relative;
    z-index: 1000;
    padding: 1vw 0;
    display: flex;
    align-items: center;
}

/* Aligns the menu btn to the left-side of the navigation bar */
.menu_btn_box {
    text-align: left;
}

/* Styling for the menu button */
.menu_btn {
    background-color: #fff;
    border: 0.1vw solid #888;
    border-radius: 0.5vw;
    padding: 0.8vh 0.8vw;
    color: #888;
    margin: 0 3vw;
}

/* Hover styling for the menu button */
.menu_btn:hover {
    color: #fff;
    background-color: rgb(93, 171, 230);
    border-color: rgb(93, 171, 230);
}

/* Styling for the icons used in the navigation bar */
.nav_icon {
    margin: 0 5px 2px 0;
}

/* Class that is applied to the menu that appears once the menu button is clicked */
.down_menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border: 0.05vw solid rgba(0, 0, 0, 0.15);
    padding: 2vw 0 5vw;
    font-size: 1rem;
    list-style: none;
    display: none;
}
/* When menu bottom is clicked, it will have the class named show */
.show {
    display: block;
}
.down_item {
    text-decoration: none;
    color: #444;
    display: block;
    padding: 0.7vw 7vw 0.7vw 3vw;
}
.down_item:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(93, 171, 230);
    opacity: 0.7;
    transition: 0.2s;
}
.admin-btn {
    margin-top: 1vw;
    color: #888;
}

h1 {
    text-align: center;
    line-height: 100%;
}
h1>a {
    font-size: 3vw;
    color: rgb(93, 171, 230);
    text-decoration: none;
}
h1>a:hover {
    color: #888;
    text-decoration: none;
}
.sign_in_box {
    text-align: right;
}
.sign_in_box>a {
    font-size: 1.5vw;
    border: 0.1vw solid #888;
    border-radius: 0.5vw;
    padding: 0.8vh 2vw;
    color: #444;
    margin: 0 3vw;
}
.sign_in_box>a:hover {
    color: #fff;
    background-color: rgb(93, 171, 230);
    border-color: rgb(93, 171, 230);
    text-decoration: none;
}
/* nav sign-in buttom changed when user is signed in Class name changed from sign_in_box to sign_out_box 
and change style display toggled block and none */
.sign_out_box>p {
    margin-bottom: 0;
    font-size: 2vh;
    margin-right: 2vw;
    margin-top: 0.5vh;
}

.sign_out_box>a {
    float: right;
    font-size: 1.2vw;
    background-color:rgb(148, 205, 248);
    border: 0.1vw solid rgb(125, 193, 245);
    border-radius: 0.5vw;
    padding: 0.5vh 1.5vw;
    color: #fff;
}

.sign_out_box>a:hover {
    color: #444;
    border-color: #888;
    background-color:#ddd;
    text-decoration: none;
}

/* Statistics Page CSS */
.stats-contents {
    margin: 0 12.5%;
    max-height: 80vh;
}
.stats-contents>h3 {
    text-align: center;
    margin-top: 3vw;
}
.filter {
    padding: 0.5vw 1vw;
}
.filter>p {
    display: inline-block;
    margin: 0;
}
.who {
    color: #777;
}
.stats-contents .table-bordered {
    background-color: #fff;
    text-align: center;
    border-color: #444;
}
.stats-contents tbody>tr:hover {
    background-color: rgb(179, 221, 253);
    color: #444;
}

/* tab */
.tab {
    overflow: hidden;
    float: right;
}
.tab button {
    font-size: 2vh;
}
.tab button:hover {
    color: #888;
}
.tab button.active {
    color: rgb(90, 179, 247);
    font-weight: bold;
}
.tabcontent {
    display: none;
    height: 70vh;
    width: 100%;
    overflow: scroll;
}

.tabcontent th, .tabcontent td {
    font-size: 1.5vh;
    padding: 1.5vh 1vw;
}

/* Admin page CSS */

.admin-contents {
    background-color: #fff;
    max-width: 90vh;
    margin: 0 12.5%;  
}
    
.admin-contents>form {
    padding: 8vh 3vw;
    text-align: center;   
}
    
.admin-text {
    width: 16%;
    margin: 0.5vh 0.2vw;   
}

#gameInfoBanner h3, #gameInfoBanner h6 {
	font-size: 2vh;
}