/* GENERAL LAYOUT STYLING */

/* The element this class is applied to will be centered
vertically. */
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* In order to center an element horizontally, apply the classes
".d-flex" and "justify-content-center" to the parent container */

/* Causes the element to maintain repsonsive square styling */
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Aligns a text element within a container in the vertical center */
.valign-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/* Aligns a text element within a container in the horizontal center */
.halign-text {
    text-align: center;
}

/* Removes the padding from an element */
.no-padding {
    padding: 0!important;
}

/* -------------------------------------------------------------------------------------- */

/* GENERAL DESIGN STYLING */

/* The general styling to create a "panel" when applied to an element. */
.panel {
    background-color: #f1f0f0;
    margin: 1vw;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.35);
}

/* Adds a soft border to a container/element */
.softBorder {
    border: 0.1vw solid #ebeaea;
    border-radius: 1vw;
}

/* Adds a hard border to a container/element */
.hardBorder {
    border: 0.2vw solid #ebeaea;
    border-radius: 1vw;
}

/* Giving all button elements a margin */
.buttonBorder {
    background-color: #f1f0f0;
    border: 0.1vw solid #ebeaea;
    border-radius: 0.5vw;
    margin: 10px;
}

/* -------------------------------------------------------------------------------------- */

/* GAME BOARD SPECIFIC STYLING */

/* Class that sizes each cell of the game board depending on the number
of cells to be created. This style will need to be adjusted as the board
size changes. */
.boardCell {
    width: 10%;
    height: 10%;
}

/* Styling of the div that represents each cell of the game board */
.cellDiv {
    width: 100%;
    height: 100%;
    border-radius: 0.0vw;
}

/* The styling of each cell when not clicked/revealed */
.unidentified {
    background-color: #c5c5c5;
    border: 0.2vw outset #b1b1b1;
    box-shadow: 0.2vw 0.2vw 0.2vw rgba(0,0,0,.35);
}
/* The styling of each unrevealed cell upon mouse over */
.unidentified:hover {
    background-color: #9c9c9c;
}

.unidentified * {
    display: none;
}

/* The styling of each cell when clicked/revealed */
.identified {
    background-color: #c5c5c5;
    border: 0.2vw inset #b1b1b1;
    box-shadow: -0.2vw -0.2vw 0.2vw rgba(0,0,0,.35);
}

.identified * {
    display: block;
}

/* Changing the size of the game board table to take up a 
specified amount of its panel that it is within. */
#boardTable {
    width: 85%;
    height: 85%;
}

/* Styles each paragraph element within a game board cell
to fill the space of the div without expanding it. */
.cellNum {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1vw;

    position: relative;
    top: 75%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.cell-img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------------------- */

/* GAME INFO BANNER SPECIFIC STYLING */

#timerText {
    font-size: 2vw;
    margin: 1vw;
}

#contentDiv {
    position: relative;
    height: 100vh;
}











