/* Navigation bar */
nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0.4vw 0.4vw 0.4vw rgba(0,0,0,0.2);
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 1vw 0;
    display: flex;
    align-items: center;
}
.menu_btn_box {
    text-align: left;
}
.menu_btn {
    background-color: #fff;
    border: 0.1vw solid #888;
    border-radius: 0.5vw;
    padding: 0.6vw 0.8vw;
    color: #888;
    margin: 0 3vw;
}
.menu_btn:hover {
    color: #fff;
    background-color: rgb(93, 171, 230);
    border-color: rgb(93, 171, 230);
}
.nav_icon {
    margin: 0 5px 2px 0;
}
.down_menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border: 0.05vw solid rgba(0, 0, 0, 0.15);
    padding: 2vw 0 5vw;
    font-size: 1rem;
    list-style: none;
    display: none;
}
/* When menu bottom is clicked, it will have the class named show */
.show {
    display: block;
}
.down_item {
    text-decoration: none;
    color: #444;
    display: block;
    padding: 0.7vw 7vw 0.7vw 3vw;
}
.down_item:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(93, 171, 230);
    opacity: 0.7;
    transition: 0.2s;
}
h1 {
    text-align: center;
    line-height: 100%;
}
h1>a {
    font-size: 3vw;
    color: rgb(93, 171, 230);
    text-decoration: none;
}
h1>a:hover {
    color: #888;
    text-decoration: none;
}
.sign_in_box {
    text-align: right;
}
.sign_in_btn {
    font-size: 1.5vw;
    border: 0.1vw solid #888;
    border-radius: 0.5vw;
    padding: 0.8vw 2vw;
    color: #444;
    margin: 0 3vw;
}
.sign_in_btn:hover {
    color: #fff;
    background-color: rgb(93, 171, 230);
    border-color: rgb(93, 171, 230);
    text-decoration: none;
}

.contents {
    margin: 0 12.5%;
}
h3 {
    text-align: center;
    margin-top: 3vw;
}
.filter {
    padding: 0.5vw 1vw;
}
.filter>p {
    display: inline-block;
    margin: 0;
}
.who {
    color: #777;
}
.table-bordered {
    background-color: #fff;
    text-align: center;
    border-color: #444;
}
tbody>tr:hover {
    background-color: rgb(179, 221, 253);
    color: #444;
}



