{% extends "base.html" %}

{% block content %}
    <div class="one-page">
        <!-- Container for the whole page (except for the navBar) -->
        <div class="container-fluid" id="overallDiv">
            <div class="row">

                <!-- Content Div -->
                <div class="col-6 offset-3" id="contentDiv">
                    
                    <!-- Game Wrapper Container -->
                    <!-- Used to wrap up all the elements of the game into a container 
                        so that it can then be vertically aligned as a group. This
                        method of wrapping is used as vertical alignment is achieved by using
                        an absolute position property. -->
                    <div class="vertical-center col-12 top-padding" id="gameWrapper">

                        <!-- Game info banner -->
                        <div class="col-10 offset-1" id="gameInfoBanner">
                            <div class="row">
                                <!-- Flag Information -->
                                <div class="d-flex justify-content-center col-4">
                                    <div class="vertical-center">
                                        <h6 class="halign-text">Flags Left:</h6>
                                        <h6 class="halign-text" id="flagsLeft">?</h6>
                                    </div>
                                </div>

                                <!-- Timer Display -->
                                <div class="col-4">
                                    <div class="panel d-flex justify-content-center softBorder col-8 offset-2" id="timerDisplay">
                                        <h3 id="timerText"><span id="timerMins">00</span>:<span id="timerSecs">00</span></h3>
                                    </div>
                                </div>

                                <!-- Shark Information -->
                                <div class="d-flex justify-content-center col-4">
                                    <div class="vertical-center">
                                        <h6 class="halign-text">Sharks in the area:</h6>
                                        <h6 class="halign-text" id="sharkNum">?</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Game Board -->
                        <div class="square no-padding d-flex justify-content-center panel hardBorder col-10 offset-1" id="gameBoard">
                            <!-- Board Grid Table 10x10 -->
                            <!-- <table class="vertical-center" id="boardTable">
                            </table> -->
                        </div>

                        <!-- Status Panel -->
                        <div class="col-12">
                            <div class="softBorder panel col-10 offset-1" id="buttonPanel">
                                <div class="row">
                                    <div class="col-10 offset-1">
                                            <h4 class="valign-text halign-text" id="statusLine">Status: Beach In Danger</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Board Buttons Panel -->
                        <div class="col-12">
                            <div class="softBorder panel col-4 offset-4" id="buttonPanel">
                                <div class="row"> 
                                    <div class="d-flex justify-content-center col-3 offset-2">
                                        <button class="buttonBorder softBorder" id="restartButton">Restart</button>
                                    </div>
                                    <div class="d-flex justify-content-center col-3 offset-2">
                                        <button class="buttonBorder">Share</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.body.onload = init();
    </script>
{% endblock %}