{% extends "base.html" %}

{% block content %}
    <div class="card mx-auto p-4" style="background-color: white; width: 50rem;">
        <h3 class="text-center font-weight-bold">Sign In</h3>
        <form method="POST" action="#">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class_="form-control", size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_="form-control", size=32) }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>     
            {{form.submit(class_="btn btn-outline-primary mt-2") }}<br>
            <a href="{{ url_for('sign_up') }}"><small class="text-muted" name="createAcc">Don't have an account?</small></a>
        </form>
    </div>
{% endblock %}

